<div class="row">
    <div class="col-md-12">
        <h5>Grafico de área polar</h5><hr>
      <div style="display: block">
        <canvas baseChart
                [data]="polarAreaChartData"
                [labels]="polarAreaChartLabels"
                [legend]="polarAreaLegend"
                [chartType]="polarAreaChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
      <br><br>
      <button (click)="random()" class="btn btn-block btn-outline-info">Update</button>
    </div>
  </div>