<div class="row">
    <div class="col-md-12">
        <h5>Grafico de radar</h5><hr>
        <div style="display: block">
            <canvas baseChart
                    [datasets]="radarChartData"
                    [labels]="radarChartLabels"
                    [chartType]="radarChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>
      <br><br>
      <button (click)="random()" class="btn btn-block btn-outline-info">Update</button>
    </div>
  </div>